In [3]:

df = pd.read_csv(r"C:\Users\esram\OneDrive\Desktop\esrabecode\immo-eliza-data analysis\immo-eliza-data-analysis\data\raw\immovlan_final_file.csv")
print(df.head())

                                                 url Property ID      Price  \
0  https://immovlan.be/en/detail/studio/for-sale/...    vbd20021  175 000 €
1  https://immovlan.be/en/detail/apartment/for-sa...    vbd30235  415 000 €
2  https://immovlan.be/en/detail/residence/for-sa...    vbd46297  399 000 €
3  https://immovlan.be/en/detail/apartment/for-sa...    vbd36813  229 000 €
4  https://immovlan.be/en/detail/apartment/for-sa...    vbb60643  320 000 €

  State of the property Availability  Number of bedrooms Livable surface  \
0                   New  On contract                 0.0           51 m²
1                   New  On contract                 1.0           70 m²
2                   NaN          NaN                 2.0          129 m²
3                   New          NaN                 2.0           82 m²
4                   New          NaN                 3.0          106 m²

  Furnished Attic Garage  ...  Type of heating Type of glazing Elevator  \
0       NaN   NaN    NaN  ...              NaN             NaN      NaN
1        No   NaN    Yes  ...              NaN             NaN      Yes
2       NaN   NaN    Yes  ...              Gas    Double glass      NaN
3       NaN   NaN    NaN  ...              NaN             NaN      Yes
4       NaN   NaN    NaN  ...              NaN             NaN      NaN

   Number of facades  Garden  Surface garden Terrace Surface terrace  \
0                NaN      No             NaN      No             NaN
1                2.0     Yes             NaN     Yes           20 m²
2                4.0     Yes             NaN     NaN             NaN
3                3.0      No             NaN     Yes            8 m²
4                NaN     Yes             NaN     Yes            6 m²

  Total land surface  Swimming pool
0                NaN            NaN
1                NaN            Yes
2                NaN            NaN
3                NaN            NaN
4                NaN            NaN

[5 rows x 26 columns]

In [4]:
df.head(20)

,url,Property ID,Price,State of the property,Availability,Number of bedrooms,Livable surface,Furnished,Attic,Garage,...,Type of heating,Type of glazing,Elevator,Number of facades,Garden,Surface garden,Terrace,Surface terrace,Total land surface,Swimming pool
0,https://immovlan.be/en/detail/studio/for-sale/...,vbd20021,175 000 €,New,On contract,0.0,51 m²,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,No,NaN,NaN,NaN
1,https://immovlan.be/en/detail/apartment/for-sa...,vbd30235,415 000 €,New,On contract,1.0,70 m²,No,NaN,Yes,...,NaN,NaN,Yes,2.0,Yes,NaN,Yes,20 m²,NaN,Yes
2,https://immovlan.be/en/detail/residence/for-sa...,vbd46297,399 000 €,NaN,NaN,2.0,129 m²,NaN,NaN,Yes,...,Gas,Double glass,NaN,4.0,Yes,NaN,NaN,NaN,NaN,NaN
3,https://immovlan.be/en/detail/apartment/for-sa...,vbd36813,229 000 €,New,NaN,2.0,82 m²,NaN,NaN,NaN,...,NaN,NaN,Yes,3.0,No,NaN,Yes,8 m²,NaN,NaN
4,https://immovlan.be/en/detail/apartment/for-sa...,vbb60643,320 000 €,New,NaN,3.0,106 m²,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,NaN,Yes,6 m²,NaN,NaN
5,https://immovlan.be/en/detail/apartment/for-sa...,vbd46661,185 000 €,Excellent,NaN,1.0,56 m²,No,NaN,NaN,...,Gas,NaN,Yes,4.0,No,NaN,Yes,7 m²,NaN,NaN
6,https://immovlan.be/en/detail/residence/for-sa...,vbd11776,190 000 €,NaN,NaN,5.0,142 m²,No,Yes,Yes,...,Fuel oil,NaN,No,3.0,Yes,NaN,Yes,NaN,320 m²,NaN
7,https://immovlan.be/en/detail/apartment/for-sa...,vbd48568,NaN,New,NaN,4.0,167 m²,No,NaN,NaN,...,NaN,Double glass,NaN,3.0,Yes,NaN,Yes,NaN,NaN,NaN
8,https://immovlan.be/en/detail/apartment/for-sa...,vbd36992,329 000 €,New,NaN,3.0,113 m²,NaN,NaN,NaN,...,NaN,NaN,Yes,2.0,No,NaN,Yes,9 m²,NaN,NaN
9,https://immovlan.be/en/detail/residence/for-sa...,rbu64988,327 850 €,To be renovated,On contract,3.0,185 m²,No,Yes,Yes,...,Fuel oil,Double glass,No,4.0,Yes,315 m²,Yes,21 m²,683 m²,No
10,https://immovlan.be/en/detail/investment-prope...,rbu62634,1 475 000 €,New,On contract,12.0,NaN,NaN,NaN,Yes,...,Hot air,Double glass,No,4.0,NaN,NaN,Yes,NaN,624 m²,NaN
11,https://immovlan.be/en/detail/apartment/for-sa...,vbd46746,679 000 €,New,On contract,3.0,150 m²,NaN,NaN,NaN,...,Gas,Double glass,Yes,2.0,No,NaN,Yes,6 m²,NaN,No
12,https://immovlan.be/en/detail/apartment/for-sa...,rbt86438,224 250 €,New,NaN,1.0,71 m²,NaN,No,Yes,...,NaN,Double glass,Yes,2.0,No,NaN,Yes,NaN,NaN,No
13,https://immovlan.be/en/detail/apartment/for-sa...,vbd34109,229 900 €,Excellent,Immediately,2.0,77 m²,No,NaN,Yes,...,NaN,Triple glass,Yes,4.0,No,NaN,No,NaN,NaN,No
14,https://immovlan.be/en/detail/residence/for-sa...,vbc54869,365 000 €,New,NaN,3.0,203 m²,No,Yes,Yes,...,Gas,NaN,No,2.0,Yes,NaN,Yes,NaN,298 m²,NaN
15,https://immovlan.be/en/detail/apartment/for-sa...,vbc71246,NaN,New,NaN,1.0,69 m²,No,NaN,NaN,...,Hot air,Double glass,Yes,4.0,No,NaN,Yes,6 m²,NaN,No
16,https://immovlan.be/en/detail/apartment/for-sa...,rbu46377,537 720 €,New,On contract,3.0,170 m²,No,NaN,Yes,...,Gas,NaN,Yes,4.0,Yes,NaN,Yes,21 m²,NaN,NaN
17,https://immovlan.be/en/detail/apartment/for-sa...,rbu41545,199 000 €,Excellent,On contract,1.0,83 m²,NaN,NaN,NaN,...,Gas,Double glass,Yes,2.0,Yes,NaN,Yes,11 m²,NaN,NaN
18,https://immovlan.be/en/detail/residence/for-sa...,rbu61502,460 000 €,NaN,NaN,4.0,178 m²,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,355 m²,No,NaN,NaN,NaN
19,https://immovlan.be/en/detail/residence/for-sa...,vbd11793,145 000 €,To be renovated,Immediately,3.0,270 m²,No,Yes,NaN,...,NaN,Simple glass,No,NaN,No,NaN,No,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16309 entries, 0 to 16308
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   url                    16309 non-null  object
 1   Property ID            16309 non-null  object
 2   Price                  15725 non-null  object
 3   State of the property  11846 non-null  object
 4   Availability           7001 non-null   object
 5   Number of bedrooms     14083 non-null  float64
 6   Livable surface        13294 non-null  object
 7   Furnished              8383 non-null   object
 8   Attic                  3661 non-null   object
 9   Garage                 7044 non-null   object
 10  Number of garages      3799 non-null   float64
 11  Kitchen equipment      4380 non-null   object
 12  Kitchen type           2181 non-null   object
 13  Number of bathrooms    12042 non-null  float64
 14  Number of showers      3538 non-null   float64
 15  Number of toilets      10014 non-null  float64
 16  Type of heating        9343 non-null   object
 17  Type of glazing        7077 non-null   object
 18  Elevator               10823 non-null  object
 19  Number of facades      9817 non-null   float64
 20  Garden                 12786 non-null  object
 21  Surface garden         2731 non-null   object
 22  Terrace                13588 non-null  object
 23  Surface terrace        7448 non-null   object
 24  Total land surface     6990 non-null   object
 25  Swimming pool          3920 non-null   object
dtypes: float64(6), object(20)
memory usage: 3.2+ MB

In [10]:

# Price sütununu string yap
df['Price'] = df['Price'].astype(str)

In [11]:
print(df['Price'].head())
print(df['Price'].dtype)       # genellikle object görünecek
print(type(df['Price'].iloc[0]))  # <class 'str'> olmalı

0    175 000 €
1    415 000 €
2    399 000 €
3    229 000 €
4    320 000 €
Name: Price, dtype: object
object
<class 'str'>

In [14]:
df = pd.read_csv(r"C:\Users\esram\OneDrive\Desktop\esrabecode\immo-eliza-data analysis\immo-eliza-data-analysis\data\raw\immovlan_final_file.csv", encoding='utf-8')

# Sütunu string yap
df['Price'] = df['Price'].astype(str)

# 1. Euro işaretini kaldır
df['Price'] = df['Price'].str.replace('€', '', regex=False)

# 2. Tüm boşluk karakterlerini sil (normal + dar boşluk)
df['Price'] = df['Price'].str.replace(r'\s+', '', regex=True)

# 3. Sayıya çevir
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

# Kontrol
print(df['Price'].head(10))

0    175000.0
1    415000.0
2    399000.0
3    229000.0
4    320000.0
5    185000.0
6    190000.0
7         NaN
8    329000.0
9    327850.0
Name: Price, dtype: float64

In [15]:
df['Price'] = df['Price'].astype('Int64')  # Pandas nullable integer
print(df['Price'].head())

0    175000
1    415000
2    399000
3    229000
4    320000
Name: Price, dtype: Int64

In [16]:
# Örnek: Livable surface temizleme
df['Livable surface'] = df['Livable surface'].astype(str)
df['Livable surface'] = df['Livable surface'].str.replace(r'\s*m²', '', regex=True)  # ' m²' kaldır
df['Livable surface'] = df['Livable surface'].str.replace(r'\s+', '', regex=True)    # boşluk temizle
df['Livable surface'] = pd.to_numeric(df['Livable surface'], errors='coerce')       # sayıya çevir
print(df['Livable surface'].head())

0     51.0
1     70.0
2    129.0
3     82.0
4    106.0
Name: Livable surface, dtype: float64

In [17]:
df['Number of bedrooms'] = pd.to_numeric(df['Number of bedrooms'], errors='coerce')
df['Number of bedrooms'] = df['Number of bedrooms'].astype('Int64')
print(df['Number of bedrooms'].head())

0    0
1    1
2    2
3    2
4    3
Name: Number of bedrooms, dtype: Int64

In [18]:
missing = df.isna().sum()
print("missing values:\n", missing)

missing values:
 url                          0
Property ID                  0
Price                      584
State of the property     4463
Availability              9308
Number of bedrooms        2226
Livable surface           3015
Furnished                 7926
Attic                    12648
Garage                    9265
Number of garages        12510
Kitchen equipment        11929
Kitchen type             14128
Number of bathrooms       4267
Number of showers        12771
Number of toilets         6295
Type of heating           6966
Type of glazing           9232
Elevator                  5486
Number of facades         6492
Garden                    3523
Surface garden           13578
Terrace                   2721
Surface terrace           8861
Total land surface        9319
Swimming pool            12389
dtype: int64

In [19]:
# Her sütundaki eksik değer sayısı ve oranı
missing_count = df.isna().sum()
missing_pct = (df.isna().sum() / len(df)) * 100

missing_df = pd.DataFrame({'Missing_count': missing_count, 'Missing_pct': missing_pct})
print(missing_df.sort_values('Missing_pct', ascending=False))

                       Missing_count  Missing_pct
Kitchen type                   14128    86.627016
Surface garden                 13578    83.254645
Number of showers              12771    78.306457
Attic                          12648    77.552272
Number of garages              12510    76.706113
Swimming pool                  12389    75.964192
Kitchen equipment              11929    73.143663
Total land surface              9319    57.140229
Availability                    9308    57.072782
Garage                          9265    56.809124
Type of glazing                 9232    56.606782
Surface terrace                 8861    54.331964
Furnished                       7926    48.598933
Type of heating                 6966    42.712613
Number of facades               6492    39.806242
Number of toilets               6295    38.598320
Elevator                        5486    33.637869
State of the property           4463    27.365258
Number of bathrooms             4267    26.163468
Garden                          3523    21.601570
Livable surface                 3015    18.486725
Terrace                         2721    16.684039
Number of bedrooms              2226    13.648906
Price                            584     3.580845
url                                0     0.000000
Property ID                        0     0.000000

In [21]:
df.to_csv(r"C:\Users\esram\OneDrive\Desktop\esrabecode\immo-eliza-data analysis\immo-eliza-data-analysis\data\cleaned\esrafile_v1.csv", index=False, encoding='utf-8')